.title {
color:gray;
margin-top: 80px;
margin-bottom: 0px;
padding-top: 90px;


}
.nav-bar {
  padding-to: 35px;
  display:inline-block;

}

.blog{
width: 1000px;
height: 100px;
font-family: Arial;
color: blue;
margin: 100px;
text-decoration: none;
}

.posts{
  font-size: 2em;
  font-weight: bolder;
  color:  gray;
  font-family:Arial;
  margin-bottom: 10px;
  position:inline;

}
a:hover{
  color:#FFAECE;
  text-decoration: none;
}

ul {
    float:left;
    clear:right;
    padding:5px;

}
li {
    float:left;
    clear:left;
    padding-right: 5em;
}

.leveler {
  height: 100px;
  width: 500px;
  display: inline-block;
 }

#part1 {
display: block;
margin-bottom: 20px;
margin-left: 50px;
padding-left: 20px;
padding-bottom: 95px;

}

#part1.5 {
display: absolute;
margin-bottom:200px;
margin-left: 100px;
padding-left: 60px;
width:700px;

 }

.part2 {
display: inline-block;
margin-top: 10px;
margin-left: 50px;
padding-left: 20px;
width:700px;
}

.bold{
font-weight: bold;

}