
/* Nav-bar stuff */
.nav-bar {
  display: inline;
  float: right;
  font-size: 3em;
  font-family:Arial;
  padding-top:27px;

}

/* link performance */
a:link {
color:#B3B3B3;
text-decoration:none;
}

a:hover{
color:#75A3FF;
text-decoration:none;
}


}

/* Page title stuff */
.title{
  font-size: 3.5em;
  font-weight: bolder;
  color:  gray;
  font-family:Arial;
  margin-bottom: 10px;
  position:inline;


}

.hero{
width:1360px;
height:500px;

}
.hero-icon {
width: 60px;
height: 70px;

}


/* Footer performance */
.footer-bar{
display: inline;
padding: 10px;
float: left;
margin-left: 500px;

}

.icon {
width: 50px;
height: 50px;
margin-right: 20px;

}


