
/* Nav-bar stuff */
.nav-bar {
  display: inline;
  float: right;
  font-size: 3em;
  font-family:Arial;
  padding-top:27px;

}

/* link performance */
a:link {
color:#B3B3B3;
text-decoration:none;
}

a:hover{
color:#75A3FF;
text-decoration:none;
}

a:visited{
  color:#B3B3B3;
text-decoration:none;

}

/* Page title stuff */
.title{
  font-size: 3.5em;
  font-weight: bolder;
  color:  gray;
  font-family:Arial;
  margin-bottom: 10px;
  position:inline;


}

.hero{
width:1360px;
height:500px;

}

.hero2{
width:1360px;
height:70px;


}

.hero-icon {
width: 60px;
height: 70px;

}


/* Footer performance */
.footer-bar{
display: inline-block;
padding: 10px;
float: left;
margin-left: 500px;
clear:left;

}

.icon {
width: 50px;
height: 50px;
margin-right: 20px;

}

.contacts {
  display: inline;
  position:relative;
  font-size: 2em;
  font-family:Arial;
}

.title1 {
  display: inline;
  position:relative;
  font-size: 3em;
  font-family:Arial;
}
.bio{
font-family:Arial;
margin-top: 4%;
margin-right: 15%;
margin-left: 15%;
}

.bioshot{
margin-bottom: 5%;
margin-right: 15%;
margin-left: 15%;
width: 900px;
height: 400px;
border: 10px;
border-color:#2164A1;

}
